/**
 * 18.0 - GeoDirectory Compatibility
 */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  margin-left: 5px;
}
p.edit-link {
  @extend .dt-btn;
  @extend %btn-links;
}
.reply {
  overflow: hidden;
  .gd_comment_replaylink {
    float: right;
    #gd_comment_replaylink {
      @extend .dt-btn;
      @extend %btn-links;
      span {
        display: none;
      }
    }
  }
}
#geodir_content {
  width: 67%;
  overflow: hidden;
  float: left;
  @extend .content-box;
}
#gd-sidebar-wrapper {
  width: 30%;
  margin-left: 3%;
  overflow: visible;
  float: left;
  .top_banner_section {
    margin-bottom: 0;
  }
}
.sidebar .widget,
.geodir-content-right .geodir-company_info {
  @extend .content-box;
}
.geodir-common {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 20px;
}
.geodir-breadcrumb {
  @extend .container;
  margin-bottom: -20px;
}
ul.geodir-loginbox-list,
ul#breadcrumbs {
  margin: 0;
}
.geodir_full_page section.widget {
  @extend .container;
}
.geodir_full_page .geodir_map_container {
  margin: 0 auto;
}
.geodir_full_page .geodir-category-list-in {
  @extend .content-box;
  ul li {
    list-style-type: none;
    &:first-child {
      padding-left: 0;
    }
    img {
      margin-right: 5px;
    }
  }
}
.geodir_full_page .geodir-loc-bar {
  @extend .content-box;
}
.near-compass .fa {
  font-size: 30px;
}
.geodir_full_page .geodir-search {
  width: 100%;
  margin: 0;
  input[type="text"] {
    width: 28%;
    border: 1px solid #e6e6e6;
  }
  select {
    border: 1px solid #e6e6e6;
  }
}
#geodir-add-listing-submit {
  text-align: left;
  width: 70%;
  float: right;
}
.geodir-loginbox-list li {
  border-bottom: none;
}
//border less grids
.geodir_category_list_view li.geodir-gridview {
  border: none;
}
.geodir-search .snear.near-country, .gd-small-country {
  opacity: 0.6;
}
#primary-nav .sub-menu {
  .geodir_location_tab_container {
    background: $p-nav-submenu-bg-color;
  }
  .geodir-chosen-container a {
    background: #FFFFFF;
    &:hover {
      background: #FFFFFF;
    }
  }
}
#menu-item-gd-location-switcher .geodir_location_tab_container dd.geodir_location_tabs a {
  border: none;
  border-left: 1px solid #ccc;
  &:hover {
    background: #FFFFFF;
  }
}
ul.geodir-tabs-content {
  border: none;
}
dl.geodir-tab-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
dl.geodir-tab-head dd {
  margin-bottom: -1px;
  height: auto;
}
dl.geodir-tab-head:before,
dl.geodir-tab-head:after {
  display: table;
  content: "";
  line-height: 0;
}
dl.geodir-tab-head:after {
  clear: both;
}
dl.geodir-tab-head dt {
  display: none;
}
dl.geodir-tab-head dd a {
  border: none;
  height: auto;
  line-height: inherit;
  padding: 10px 15px;
}
dl.geodir-tab-head dd.geodir-tab-active a {
  border: 1px solid #eee;
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;
}
dl.geodir-tab-head dd:last-child {
  border-right: none;
}
.geodir_category_list_view li {
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
}
.bestof-tabs-on-left {
  dl.geodir-tab-head {
    border-right: 1px solid #eee;
    margin-right: 20px;
    border-bottom: none;
    margin-bottom: 0;
  }
  dl.geodir-tab-head dd {
    margin-right: -1px;
    height: auto;
  }
  .geo-bestof-contentwrap {
    border: none;
  }
  dl.geodir-tab-head dd a {
    border: none;
    height: auto;
    line-height: inherit;
    padding: 10px 15px;
  }
  dl.geodir-tab-head dd.geodir-tab-active a {
    border: 1px solid #eee;
    border-right-color: transparent;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #eee !important;
  }
}
.geo-bestof-contentwrap {
  border: none;
}
.Navi {
  border-top: 1px #eee solid;
  padding-top: 20px;
  overflow: hidden;
  a, strong.on {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-right: none;
  }
  a:first-child, strong.on:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  a:last-child, strong.on:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #eee;
  }
}
//slider
.geodir_flexslider {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.geodir_flex-container {
  background-color: #f3f2f0;
  padding: 20px;
  border: 1px solid #d4d2d0;
  border-radius: 4px;
}
.geodir_flex-loader, .geodir-listing-flex-loader {
  background: transparent;
  margin: -20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#geodir_carousel {
  margin-top: 10px;
  li {
    border: none;
  }
}
//comments
#comments {
  ul.rate-area-list {
    margin: 0;
  }
  .gd-rate-category {
    ul.rate-area-list {
      margin: 0;
    }
  }
  &.comments-area {
    border-top: none;
  }
  h3#reply-title {
    font-size: 2em;
  }
  .logged-in-as {
    margin: 0;
  }
  #rating_frm {
    margin-top: 0 !important;
  }
  .gd-rate-category {
    margin: 15px 0;
    .gd-ratehead {
      margin-bottom: 10px;
    }
  }
  .gd-rate-cat-in {
    border: 1px solid #eee;
    border-top: none;
    padding: 10px;
    &:first-child {
      border-top: 1px solid #eee;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    span.lable {
      min-width: 100px;
      width: 47% !important;
      float: left;
      padding: 0;
      line-height: 30px;
    }
    select {
      width: 50%;
      float: left;
    }
  }
  .gd-rate-area {
    .gd-ratehead {
      padding: 0;
      width: 47%;
      float: left;
      line-height: 30px;

    }
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #eee;
    padding: 10px;
  }
}
#comment_sorting_form {
  overflow: hidden;
}
.gd-rate-area span.gd-ratehead,
.gd-rating-box-in-right span.gd-ratehead,
.gd-rate-category span.gd-ratehead {
  font: inherit;
  font-weight: normal;
}
// comment list
#comments {
  .overall-more-rating {
    margin: 0;
  }
  .reply {
    margin-left: 75px;
  }
  ol.commentlist {
    margin: 0;
    .avatar {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  .gdreview_section {
    background: transparent;
  }
  .comments_review_likeunlike {
    span img {
      display: block;
    }
    [id*="unlike-"] img {
      position: relative;
      top:5px;
    }
  }
}
//reviews
#reviewsTab {
  ol.commentlist {
    .comment-meta {
      .item {
        display: none;
      }
    }
    li {
      list-style-type: none;
      border-bottom: 1px solid #eee;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .comments-area {
    article {
      header {
        cite,
        time,
        span.item {
          margin: 0;
          margin-right: 20px;
          display: inline-block;
          float: left;
        }
        cite {
          b, span {
            display: inline-block;
            float: left;
          }
        }
      }
    }
    .bypostauthor cite span {
      color: $body-color;
      background-color: #f3f2f0;
      border: 1px solid #d4d2d0;
    }
    .reply p.edit-link {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
    }
    .comment-content {
      width: auto;
      margin-left: 75px;
      .comment_more_ratings {
        padding: 0;
        margin: 0;
        border-top: none;
        .gd_ratings_module_box,
        .place-gallery {
          width: 100%;
          float: none;
          border: none;
        }
        .place-gallery {
          overflow: hidden;
          border: 1px solid #eee;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          a {
            width: 100px;
            margin: 20px;
          }
        }
      }
      .commenttext {
        text-align: justify;
      }
    }
    .gdreview_section {
      .like_count {
        padding: 0;
      }
      .comments_likeunlike {
        padding: 0;
        margin: 0;
        margin-right: 5px;
      }
      padding: 0;
      .gd_rating_show {
        margin-bottom: 0;
      }
      span.showcommentimages {
        margin: 0;
        margin-left: 22px;
      }
    }
    .gdreview_section > .clearfix {
      display: table;
      width: 100%;
    }
    .gdreview_section > .clearfix:first-child > div {
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      width: 25%;
    }
    .gdreview_section > .clearfix:first-child > div.comments_likeunlike {
      width: 40%;
    }
    .gdreview_section > .clearfix:first-child > div.overall-more-rating {
      width: 10%;
      float: right;
    }
  }
}
.geodir-bestof-cat-list a span {
  line-height: 30px;
}