/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: $link-color;
  text-decoration: none;
}
a:visited {
  color: $link-color;
}
a:hover,
a:focus,
a:active {
  color: $link-hover;
}