/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a,a:visited {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $link-hover;
  }
}