//container
$container-width: 1170px;
$container-padding-right: 15px;
$container-padding-left: 15px;
$container-margin-right: auto;
$container-margin-left: auto;
//logo
$logo-margin-right: 0;
$logo-margin-left: 0;
$logo-margin-top: 15px;
$logo-margin-bottom: 15px;
//typography
$font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size: 13px;
$line-height: 20px;

//colors
$background-color:  #F2F2F2;
$body-color:        #757575;

$content-bg:        #FFFFFF;
$content-border:    #FFFFFF;
$content-shadow:    rgba(0,0,0,0.2);

$color-white:       #FFFFFF;
$h1toh6-color:      #ED6D62;

$alert-yellow:      #EBE16F;
$alert-red:         #FBE3E4;
$alert-green:       #E6EFC2;
$alert-blue:        #D5EDF8;

$link-color:        $h1toh6-color;
$link-hover:        darken($link-color, 9%);
$link-visited:      $link-color;

$footer-widget-bg:  #2F2F2F;
$copyright-bg:      #202020;

//header
$header-height: 85px;
$header-fixed-top: 32px;
$header-bg-color: $color-white;

//primary nav
$p-nav-height: 80px;
$p-nav-line-height: $p-nav-height;

$p-nav-padding-right: 45px;

//copyright
$copyright-padding-top: 20px;
$copyright-padding-bottom: 20px;

//buttons
$btn-text-color:    #FFFFFF;
$btn-bg-color:      $link-color;
$btn-hover-color:   darken($btn-bg-color, 9%);
$btn-border-color:  lighten($btn-bg-color, 9%);
