/**
 * 17.0 - WordPress Core Styles
 */
h1.entry-title {
  margin-top: 0;
}
.container .content-single article,
.container .content-single article footer,
.container .content-archive article,
.container .content-archive article footer {
  clear: both;
}
.container .content-single article.type-post,
.container .content-archive article.type-post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.content .entry {
  @extend .content-box;
}
#comment-textarea textarea,
.comment-form-comment textarea {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 150px;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
  margin-bottom: 10px;
}
.widget input {
  margin-bottom: 10px;
}
//extras
.content-single,
.content-404,
.content-archive {
  margin-top: 20px;
}
#comments {
  p.comment-notes {
    margin: 0;
  }
  p.comment-form-author {
    margin-top: 0;
  }
  .commentlist {
    .single-comment {
      border-bottom: 1px solid #eee;
      padding-bottom: 25px;
      margin-bottom: 25px;
      overflow: hidden;
    }
    div.avatar-wrap {
      float: left;
      margin-right: 15px;
      img {
        display: block;
      }
    }
    > li:first-child {
      margin-top: 15px;
    }
  }
  .dt-comment-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
    strong {
      margin-right: 5px;
    }
  }
  .comment-text {
    margin-left: 75px;
    *:last-child {
      margin-bottom: 0;
    }
    *:first-child {
      margin-top: 0;
    }
  }
  .gd_comment_replaylink {
    display: inline-block;
  }
  #reply-title {
    margin-bottom: 0;
    small {
      font-size: 13px;
    }
  }
}
.entry-footer > span {
  margin-right: 10px;
}
.post-thumbnail img {
  float: left;
  margin: 0 15px 15px 0;
}
#comments.normal-comments {
  margin-top: 20px;
}

#searchform {
  label {
    float: left;
    margin-right: 10px;
    line-height: 35px;
  }
  input[type="text"] {
    width: auto;
  }
}