@media (max-width: 660px) {
  .bestof-tabs-on-left #geodir-bestof-places, .bestof-tabs-on-left #geodir-bestof-loading {
    margin: 0;
    width: 100%;
  }
  .gallery .gallery-item {
    width: 100% !important;
    max-width: 100%;
  }
}
