.copyright {
  background-color: $copyright-bg;
  border-top: 1px solid $copyright-border-color;
  .container {
    padding-top: $copyright-padding-top;
    padding-bottom: $copyright-padding-bottom;
    text-align: center;
  }
}