.site-logo-wrap {
  float: left;
  .site-logo {
     margin-top: $logo-margin-top;
     margin-right: $logo-margin-right;
     margin-bottom: $logo-margin-bottom;
     margin-left: $logo-margin-left;
  }
}